
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: open-serif;
    background-color: #FFF9BF;
}

main {
    text-align: center;
    margin: 0 auto;
}

header, footer {
    font-size: 50px;
    padding: 20px;
    width: auto;
}

input {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border: 0px solid black;
}

table {
    border-collapse: separate;
    border-spacing: 1px; 
    margin: auto;
}

td,th {
    padding: 5px 10px;
    background-color: #DDD9FD;
}

th {
    font-weight: bold;
    background-color: #7A84B8;
}

.on {
    background-color: #C0B7FF;
    color: 52CC10;
}
.target {
    background-color: #8773D6;
    color: black;
}
